DB_PATH=./data.db
MEMPOOL_SPACE_BASE=https://mempool.space/api
COINGECKO_BASE=https://api.coingecko.com/api/v3
BLOCKCHAIN_INFO_BASE=https://api.blockchain.info
HTTP_TIMEOUT_SECONDS=10
INGEST_USER_AGENT=general_monitor/0.1
